body {
    font-family: 'Oswald', sans-serif;
    padding: 10px;
    background-color: #48846C; /* deepSeaGreen */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    text-align: center;
    flex-direction: column; /* Ensure content stacks vertically */
}

.container {
    background-color: #103f10; /* darkGreen */
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    width: 80%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center content inside the container */
}

h1, h2, h3 {
    color: #eaeaea;
    margin-bottom: 10px;
}

p {
    color: #d1d1d1;
}

table {
    width: 25%;
    border-collapse: collapse;
    margin-top: 20px;
    color: #eaeaea;
    background-color: #123524;
    text-align: left;
    font-weight: bold;
    height: 300px;

}

th, td {
    padding: 12px 15px;
    border: 1px solid #ddd;
}

th {
    background-color: #0b4f0b;
}

button {
    margin-top: 10px;
    padding: 8px 12px;
    cursor: pointer;
    background-color: #A0DBAA;
    color: #fff;
    border: none;
    border-radius: 5px;
    transition: 0.3s ease;
}

.button-add {
    margin-top: 10px;
    padding: 25px 36px; /* Bigger padding */
    font-size: 25px;
    cursor: pointer;
    background-color: #A0DBAA;
    color: #fff;
    border: none;
    border-radius: 5px;
    transition: 0.3s ease;
}

.button-1 {
    margin-top: 10px;
    padding: 25px 36px; /* Bigger padding */
    font-size: 25px;
    cursor: pointer;
    background-color: #A0DBAA;
    color: #fff;
    border: none;
    border-radius: 5px;
    transition: 0.3s ease;
}

h3 {
    color: #eaeaea;
    margin-bottom: 10px;
    font-size: 20px;
    text-align: center;
}

/* Style the inputs */
input {
    width: 25%;
    padding: 10px 15px;
    margin-bottom: 10px;
    border: 1px solid #3a7d44;
    border-radius: 8px;
    background-color: #1A4633;
    color: #eaeaea;
    font-size: 16px;
    outline: none;
    transition: 0.3s ease;
    box-sizing: border-box; /* Ensures padding doesn’t break the layout */
}

/* Input placeholder style */
input::placeholder {
    color: #9bbf8e;
}

/* Fancy focus effect */
input:focus {
    border-color: #A0DBAA;
    box-shadow: 0 0 8px rgba(160, 219, 170, 0.8);
    transform: scale(1.02);
}

/* Add subtle hover */
input:hover {
    border-color: #8CCF9D;
}


.button {border-radius: 12px;}
.button-1{border-radius: 12px}

button:hover {
    background-color: #0b4f0b;
}